.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

/* .box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    border-radius: 50%;
}

.animated {
    transition-property: background, border-radius;
    transition-duration: 5s, 1s;
    transition-delay: 2s, 5s;
} */

.box:hover {
    transform: translateX(300px);
}

.animated {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}